* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

ion-icon {
    margin-right: 10px;
}

body {
    font-size: 17px;
    line-height: 1.6;
    text-align: justify;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

#container {
    margin-top: 150px;
}

#container .container {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#container .container h1 {
    font-size: 25px;
    margin-bottom: 10px;
}

#container .container #mot {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

#container .container input {
    padding: 10px;
    width: 80%;
    font-size: 18px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#container .container button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

#container .container button:hover {
    background-color: #45a049;
}

#container .container #resultat {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

#container .container #score {
    font-weight: bold;
    color: #4CAF50;
}

nav {
    margin-bottom: 15px;
    position: fixed;
    margin-left: 5px;
    z-index: 1000;
    top: 5px;
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding: 20px;
    margin-top: 15px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul a {
    margin-right: 5px;
    margin-left: 20px;
}

nav ul button {
    margin-left: 30px;
    text-decoration: none;
    background-color: transparent;
    border: none;
}

footer {
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: center;
    width: 100%;
    bottom: 0;
}

footer #footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

footer #footer #rsContact {
    display: flex;
    flex-direction: row;
}

footer #footer #rsContact #reseaux_sociaux {
    margin-left: 30px;
    text-align: justify;
}

footer #footer #rsContact #reseaux_sociaux h3 {
    text-align: justify;
}

footer #footer #rsContact #reseaux_sociaux #rs {
    display: flex;
    flex-direction: row;
}

footer #footer #rsContact #reseaux_sociaux ul #rs {
    list-style: none;
}

footer #footer #rsContact #reseaux_sociaux ul #rs #colone_1,
footer #footer #rsContact #reseaux_sociaux ul #rs #colone_2,
footer #footer #rsContact #reseaux_sociaux ul #rs #colone_3 {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

footer #footer #rsContact #reseaux_sociaux ul #rs #colone_1 li p a,
footer #footer #rsContact #reseaux_sociaux ul #rs #colone_2 li p a,
footer #footer #rsContact #reseaux_sociaux ul #rs #colone_3 li p a {
    text-decoration: none;
    color: inherit;
}

footer #footer #rsContact #reseaux_sociaux ul #rs #colone_1 li:hover,
footer #footer #rsContact #reseaux_sociaux ul #rs #colone_2 li:hover,
footer #footer #rsContact #reseaux_sociaux ul #rs #colone_3 li:hover {
    color: #FEF9E6;
}

footer #footer #rsContact #contact {
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
}

footer #footer #rsContact #contact ul {
    list-style: none;
}

footer #footer #rsContact #contact h3 {
    text-align: justify;
}

footer #footer #rsContact #contact ul li p a {
    text-decoration: none;
    color: inherit;
}

footer #footer #rsContact #contact ul li:hover {
    color: #FEF9E6;
}

footer #footer #copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

footer #footer #copyright p {
    margin: 0;
}

/* Tablette en mode paysage */
@media (max-width: 1366px){
    footer{
        position: absolute;
        bottom: 0;
    }
}

/* Tablette en mode portrait */
@media (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
    }

    footer{
        margin-top: 50px;
        position: relative;
        bottom: 0;
    }

    footer #footer #rsContact{
        flex-direction: column;
        margin-top: 10px;
    }

    footer #footer #rsContact #reseaux_sociaux #rs{
        flex-direction: column;
        margin-bottom: 10px;
    }

    footer #footer #rsContact #contact{
        margin-bottom: 10px;
    }
}

/* Téléphone */
@media (max-width: 480px){
    nav ul li{
        display: flex;
        flex-direction: row;
    }

    footer{
        margin-top: 50px;
        position: relative;
        bottom: 0;
        
    }

    footer #footer #rsContact{
        flex-direction: column;
        margin-top: 10px;
    }

    footer #footer #rsContact #reseaux_sociaux #rs{
        flex-direction: column;
        margin-bottom: 10px;
    }

    footer #footer #rsContact #contact{
        margin-bottom: 10px;
    }
}